{% extends 'base.html' %}

{% block title %}
Smart Ticket Create Ticket
{% endblock %}

{% block content %}

<div class = "container p-5">
    <div class = "container bg-dark p-5">
        <h1 class="h1 mb-3">Let's create a new ticket!</h1>
        <hr>
        <div class = "text-center"> 
            <form method="POST" class="form-register", style="color:white">
                {{form.hidden_tag()}}

                {{form.subject.label(class="col-form-label-lg")}}
                {{form.subject(class="form-control",placeholder="Ticket Subject")}}

                {{form.issue_text.label(class="col-form-label-lg")}}
                {{form.issue_text(class="form-control",placeholder="Please describe our problem")}}
                <br>

                {{form.submit(class="btn btn-lg btn-block btn-primary")}}
            </form>
        </div>  
    </div>
</div>


<script src="{{url_for('static', filename='js/ckeditor/ckeditor.js')}}"></script>

<script>
CKEDITOR.replace( 'issue_text' );
</script>

{% endblock %}