{% extends 'base.html' %}

{% block title %}
Ticket list
{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <h2>Unresolved Tickets</h2>
    <hr>
    <div class="container">
        <form method="POST" class="row g-3">
            <div class="col-auto">
                {{filter_form.hidden_tag()}}
                {{filter_form.filter_by.label(class="col-form-label")}}
            </div>
            <div class="col-auto">
                {{filter_form.filter_by(class="form-select")}}
            </div>
            <div class="col-auto">
                {{filter_form.sort_by.label(class="col-form-label")}}
            </div>
            <div class="col-auto">
                {{filter_form.sort_by(class="form-select")}}
            </div>
            <div class="col-auto">
                {{filter_form.search(class="btn btn-block btn-secondary")}}
            </div>
        </form>
    </div>
    <br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Author</th>
                <th scope="col">Creation time</th>
                <th scope="col">Description</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets.items %}

            <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.subject}}</td>
                <td>{{ticket.author.username}}</td>
                <td>{{ticket.creation_time |format_time}}</td>
                <td class="text-justify">
                    <div class="text-truncate-container">
                        <p class="text-truncate-container p-0 m-0">
                            {{ticket.issue_description|safe}}
                        </p>
                    </div>
                </td>
                <td>
                    <a href="{{url_for('ticket_bp.ticket_detail_page', ticket_id=ticket.id)}}" title="Detail">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                                </path>
                            </svg>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination-container">
        <div class="text-right">
            <a href="{{ url_for('ticket_bp.ticket_list_page', page=tickets.prev_num, sort_by=filter, order_by=order) }}" class="btn  btn-dark
            {% if tickets.page == 1 %}disabled{% endif %}">
                &laquo;
            </a>
            {% for page_num in tickets.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
            {% if page_num %}
                    {% if tickets.page == page_num %}
                    <a href="{{ url_for('ticket_bp.ticket_list_page', page=page_num, sort_by=filter, order_by=order) }}" class="btn btn-outline-info">{{ page_num }}</a>
                    {% else %}
                    <a href="{{ url_for('ticket_bp.ticket_list_page', page=page_num, sort_by=filter, order_by=order) }}" class="btn btn-dark">{{ page_num }}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}
            <a href="{{ url_for('ticket_bp.ticket_list_page', page=tickets.next_num, sort_by=filter, order_by=order) }}" class="btn btn-dark 
            {% if tickets.page == tickets.pages %}disabled{% endif %}">
                &raquo;
            </a>
        </div>
        <p class="text-right mt-3">
        Showing page {{ tickets.page }} of {{ tickets.pages }}
        </p>
    </div>
</div>

{% endblock content %}