{% extends 'base.html' %}

{% block title %}
Smart Ticket Create Ticket
{% endblock %}

{% block content %}
<body class="text-center"> 
    <div class="container"> 

        <form method="POST" class="form-register", style="color:white">
            {{form.hidden_tag()}}
            <h1 class="h3 mb-3">Let's create a new ticket!</h1>
            <br>
            {{form.subject.label()}}
            {{form.subject(class="form-control",placeholder="Ticket Subject")}}

            {{form.issue_text.label()}}
            {{form.issue_text(class="form-control",placeholder="Please describe our problem")}}
            <br>

            {{form.submit(class="btn btn-lg btn-block btn-primary")}}
        </form>
    </div>
</body>
{% endblock %}