{% extends 'base.html' %}

{% block title %}
    Smart Ticket - ticket list
{% endblock title %}

{% block content %}

<div class="container">
    <br>
    <h2>Unresolved Tickets</h2>
    <hr>
    <br>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <!-- scope tag has no visual function, but can be used by screen readers, bots and so on-->
                <th scope="col">ID</th>
                <th scope="col">Subject</th>
                <th scope="col">Author</th>
                <th scope="col">Creation time</th>
                <th scope="col">Description</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            
            <tr>
                <td>{{ticket.id}}</td>
                <td>{{ticket.subject}}</td>
                <td>{{ticket.author.username}}</td>
                <td>{{ticket.creation_time |format_time}}</td>
                <td style = "text-align:justify">
                    <div class="text-truncate-container">
                        <p class="text-truncate-container p-0 m-0"> 
                        {{ticket.issue_description}}
                        </p>
                    </div>
                </td>
                <td>
                    <a href = "{{url_for('ticket_detail_page', id=ticket.id)}}" title="Detail">
                        <button type="button" class="btn btn-secondary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
                            </svg>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

<style>
    .text-truncate-container {
    width: 400px;
}
.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
</style>


{% endblock content %}

