<div class="modal fade" id="DeactivateUser" tabindex="-1" aria-labelledby="DeactivateUserModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="DeactivateUserModalLabel">Confirm user deactivation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST" action = "#"> 
        <div class="modal-body">
            {{user_deactivation_form.hidden_tag()}}
            {{user_deactivation_form.user_username(class="form-control w-10", placeholder = 'Describe ticket solution' )}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          {{ user_deactivation_form.confirm_user_deactivation(class="btn btn-block btn-primary") }}
        </form>
        </div>
      </div>
    </div>
  </div>