.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }

.modal-content {
    background-color: #212121
  }

.text-truncate-container {
    width: 400px;
}
.text-truncate-container p {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.text-justify {
    text-align:justify;

}

body {
    background-color: #212121;
    color: white
}