{% extends 'base.html' %}

{% block title %}
Password reset
{% endblock %}

{% block content %}
<body class="text-center">
    <div class = "container bg-dark m-5 p-5 mx-auto">
        <form method="POST" class="form-password-reset">
            {{ password_reset_form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
               Recovery of forgotten password
            </h1>
            
            {{ password_reset_form.email.label() }}
            {{ password_reset_form.email(class="form-control", placeholder="Your e-mail") }}

            <br>
            {{ password_reset_form.submit(class="btn btn-lg btn-block btn-primary ") }}

        </form>
    </div>
</body>

{% endblock %}