{% extends 'base.html' %}

{% block title %}
Smart Ticket - User detail
{% endblock title %}

{% block content %}
<div class = "container bg-dark m-5 p-5 mx-auto"> 
        <h2>{{user.username}}</h2>
        <hr>
        <h5>User details</h5>
        <p>Email: {{user.email}}</p>
        <hr>
        <h2>Currently solving:</h2>
        
        {% for ticket in user.currently_solving %}
        <a href="{{ url_for('ticket_bp.ticket_detail_page', current_ticket_id=ticket.id) }}">
        {{ticket}}
        </a>
        </p>
        {% endfor %}

</div>
{% endblock content %}